#
# Сюда можно добавить ещё ваших
# спецефичных временных файлов или
# автоматически генерируещихся файлов.
#
# Как обычно. Ваш Алексей Сальников.
#

*~
*.o
*.a
*.so
*.so.*
*.swp
*.swo
.#*
*.tmp
a.out
.DS_Store
thumbs.db

*.exe
*.obj
*.dll
*.lib
*.ppu

.git                                                                                              
.vscode                                                                                           
                                                                                             
file1.txt
file2.txt
qat.doxygen
*.out
gen_for_mul_test.py
